@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button{
  cursor: pointer;
}
a{
  text-decoration: none;
  cursor: pointer;
}
html{
    font-family: 'Poppins', sans-serif;
}

.parentDiv{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.uploadedImage{
  width: 300px;
  height: 150px;
}